#header {
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 712px) {
        align-items: flex-start;
    }

    background-color: rgba(12, 4, 33, 0.7);
    filter: blur(0.7);
    color: #fff;
    text-align: center;
    padding: 10px;

    #img-logo {
        width: 35px;
    }

    #menu-btn {
        visibility: hidden;

        margin-right: 10px;
        width: 35px;

        filter: invert(1);
        @media screen and (max-width: 712px) {
            visibility: visible;
            align-self: flex-end;
        }
    }

    nav {
        margin: 0;
        flex-direction: row;

        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 712px) {
            flex-direction: column;
            justify-self: left;
            padding-top: 10px;
        }

        gap: 25px;
        a {
            color: #fff;
            font-size: 20px;
            transition: 0.15s;
            @media screen and (max-width: 712px) {
                align-self: start;
            }
            &:hover {
                transition: 0.3s;
                transform: scale(1.1);
            }
        }

        @media screen and (max-width: 712px) {
            display: none;
        }
    }
}
