$base-overflow-vh: 85vh;
$drop-shadow: drop-shadow(0 0 0.75rem gray);

.overflow-container {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;

        display: flex;
        align-items: flex-end;
        justify-content: center;
        top: 0;
        left: 0;

        background-size: 100%;
        object-fit: cover;
        width: 100%;
        height: $base-overflow-vh;

        @media screen and (max-width: 712px) {
            height: calc($base-overflow-vh * 1.5);
        }
    }
}

#section-comets {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: $base-overflow-vh;

    @media screen and (max-width: 712px) {
        height: calc($base-overflow-vh * 1.5);
    }

    @media screen and (max-width: 712px) {
        flex-wrap: wrap-reverse;
    }

    div {
        width: 95vw;
        margin-right: 1.5rem;
        @media screen and (max-width: 712px) {
            margin: auto;
        }

        animation-name: appear;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;

        @media screen and (max-width: 712px) {
            width: 95vw;
            height: fit-content;
        }
        h1,
        p {
            filter: $drop-shadow;
            text-align: justify;
        }
        button {
            background: none;
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            width: 90px;
            height: 36px;
            cursor: pointer;

            &:hover {
                background-color: #080e21;
                transition: 0.5s;
                transform: scale(1.1);
            }
            filter: $drop-shadow;
        }
    }
    img {
        position: relative;
        width: 25vw;

        @media screen and (max-width: 712px) {
            width: max-content;
        }
    }

    &::before {
        content: url("../assets/Comet.jpg");

        animation-name: unblur;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
}

#section-asteroids {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: $base-overflow-vh;

    @media screen and (max-width: 712px) {
        height: calc($base-overflow-vh * 1.5);
    }

    @media screen and (max-width: 712px) {
        flex-wrap: wrap-reverse;
    }

    div {
        transform: translateY(0px);
        width: 95vw;

        animation-name: appear;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;

        @media screen and (max-width: 712px) {
            width: 95vw;
            height: fit-content;
        }
        h1,
        p {
            filter: $drop-shadow;
            text-align: justify;
        }
        button {
            background: none;
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            width: 90px;
            height: 36px;
            cursor: pointer;
            transition: 0.5s;

            &:hover {
                background-color: #080e21;
                transition: 0.5s;
                transform: scale(1.1);
            }
            filter: $drop-shadow;
        }
    }
    img {
        position: relative;
        width: 25vw;

        @media screen and (max-width: 712px) {
            width: max-content;
        }
    }

    &::before {
        content: url("../assets/Asteroid.jpg");

        animation-name: unblur;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
}

#section-gallery {
    width: 100%;
    height: $base-overflow-vh;

    display: flex;
    align-items: center;
    flex-direction: column;

    box-shadow: 0px 0px 30px 15px rgb(82, 81, 81);
    background-image: linear-gradient(150deg, rgb(36, 36, 36), rgb(22, 18, 37));

    z-index: 2;
    position: relative;
    overflow: hidden;

    padding-bottom: 1rem;

    @media screen and (max-width: 712px) {
        height: calc($base-overflow-vh * 1.5);
    }

    #div-gallery-text {
        animation-name: appear2;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;

        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 1rem;
        h1 {
            margin: 0;
        }
        p {
            text-align: justify;
        }
        button {
            background: none;
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            width: 90px;
            height: 36px;
            cursor: pointer;

            &:hover {
                background-color: #080e21;
                transition: 0.5s;
                transform: scale(1.1);
            }
            filter: $drop-shadow;
        }
    }

    #div-gallery {
        background-color: gray;

        padding: 0.3rem;
        border-radius: 3px;

        height: 70vh;
        width: 90vw;

        display: grid;
        overflow: auto;
        gap: 5px;

        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(4, 1fr);

        grid-template-areas:
            "i5 i5 i2 i2"
            "i1 i6 i2 i2"
            "i1 i3 i4 i4";

        @media screen and (max-width: 712px) {
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(3, 1fr);

            grid-template-areas:
                "i5 i5 i6"
                "i3 i2 i2"
                "i1 i2 i2"
                "i1 i4 i4";
        }

        div {
            width: 100%;
            height: 100%;
            object-fit: cover;

            border-radius: 3px;
            img {
                background-size: cover;
                object-fit: cover;
            }
        }

        #gallery-img-1 {
            grid-area: i1;
            content: url("../assets/gallery-preview/PIA18429_modest.jpg");
        }
        #gallery-img-2 {
            grid-area: i2;
            content: url("../assets/gallery-preview/PIA21597.gif");
        }
        #gallery-img-3 {
            grid-area: i3;
            content: url("../assets/gallery-preview/PIA24471~orig.jpg");
        }
        #gallery-img-4 {
            grid-area: i4;
            content: url("../assets/gallery-preview/PIA25140_modest.jpg");
        }
        #gallery-img-5 {
            grid-area: i5;
            content: url("../assets/gallery-preview/PIA25329_modest.jpg");
        }
        #gallery-img-6 {
            grid-area: i6;
            content: url("../assets/gallery-preview/PIA26150_modest.jpg");
        }
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-450px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appear2 {
    0% {
        opacity: 0;
        transform: translateY(450px) scale(1.2);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}

@keyframes unblur {
    0% {
        transform: scale(1.2);
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(1px);
    }
}
