$base-overflow-vh: 85vh;
$drop-shadow: drop-shadow(0 0 0.75rem gray);

.overflow-container {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;

        display: flex;
        align-items: flex-end;
        justify-content: center;
        top: 0;
        left: 0;

        background-size: 100%;
        object-fit: cover;
        width: 100%;
        height: $base-overflow-vh;

        @media screen and (max-width: 712px) {
            height: calc($base-overflow-vh * 1.5);
        }
    }
}

#section-comets {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: $base-overflow-vh;

    @media screen and (max-width: 712px) {
        height: calc($base-overflow-vh * 1.5);
    }

    @media screen and (max-width: 712px) {
        flex-wrap: wrap-reverse;
    }

    div {
        transform: translateY(0px);
        width: 95vw;

        animation-name: appear;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;

        @media screen and (max-width: 712px) {
            width: 95vw;
            height: fit-content;
        }
        h1,
        p {
            filter: $drop-shadow;
        }
        button {
            background: none;
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            width: 90px;
            height: 36px;
            cursor: pointer;

            :hover {
                background-color: #080e21;
                transform: scale(1.2);
            }
            filter: $drop-shadow;
        }
    }
    img {
        position: relative;
        width: 25vw;

        @media screen and (max-width: 712px) {
            width: max-content;
        }
    }

    &::before {
        content: url("../assets/Comet.jpg");

        animation-name: unblur;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
}

#section-asteroids {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    height: $base-overflow-vh;

    @media screen and (max-width: 712px) {
        height: calc($base-overflow-vh * 1.5);
    }

    @media screen and (max-width: 712px) {
        flex-wrap: wrap-reverse;
    }

    div {
        transform: translateY(0px);
        width: 95vw;

        animation-name: appear;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;

        @media screen and (max-width: 712px) {
            width: 95vw;
            height: fit-content;
        }
        h1,
        p {
            filter: $drop-shadow;
        }
        button {
            background: none;
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            width: 90px;
            height: 36px;
            cursor: pointer;

            :hover {
                background-color: #080e21;
                transform: scale(1.2);
            }
            filter: $drop-shadow;
        }
    }
    img {
        position: relative;
        width: 25vw;

        @media screen and (max-width: 712px) {
            width: max-content;
        }
    }

    &::before {
        content: url("../assets/Asteroid.jpg");

        animation-name: unblur;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(-450px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes unblur {
    0% {
        transform: scale(1.2);
        -webkit-filter: blur(5px);
    }
    100% {
        -webkit-filter: blur(1px);
    }
}
